button {
    background-color: $violeta;
    border-radius: 4px;
    color: $blanco;
    font-family: $main-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding:10px 40px;
    margin: 20px auto;
    &:hover {
        background-color: $azul-oscuro;
    }
    a {
        color: $blanco;
        &:hover {
            color: $blanco;
        }
    }
}