#contact {
    div {
        h4 {
            color: $gris-oscuro;
            margin-bottom: 20px;
        }
        .foto-contacto {
            width: auto;
            height: 24vw;
            max-height: 320px;
            border-radius: 10px;
        }
    }
}

form {
    div {
    margin-bottom: 20px;
    }
}

input {
    font-family: $main-font;
    color: $gris-oscuro;
    &[type=checkbox] {
        margin: 10px 15px 0 0;
        width: 15px;
    }
    &[type=submit] {
        @include pFont;
        color: $blanco;
        text-transform: uppercase;
        background-color: $violeta;
        border: none;
        border-radius: 4px;
        padding:10px 20px;
        &:hover {
            background-color: $azul-oscuro;
            color: $blanco;
        }
    }
}


.form-control {
    @include pFont;
    border: 1px solid $gris-claro;
    padding: 15px;
    border-radius: 2px;
    height: auto;
    &:focus {
        border: 1px solid $azul-oscuro;
        outline: none;
        box-shadow: none;
    }
}

