#descargar { 
    div {
        h4 {
            color: $gris-oscuro;
            margin-bottom: 20px;
        }
        h2 {
            color: $celeste;
            font-weight: 700;
        }
    }
}