#descargar { 
    div {
        h4 {
            color: $gris-oscuro;
            margin-bottom: 100px;
        }
        h2 {
            color: $celeste;
            font-weight: 700;
        }
        i {
            font-size: 1rem;
        }
        p {
            font-size: 1rem;
        }
    }

}