#descargar { 
    div {
        h4 {
            color: $gris-oscuro;
            margin-bottom: 20px;
        }
    }
    .foto-descargar {
        width: 40%;
        height: auto;
        border-radius: 10px;
    }
}