#faqs {
    margin-top: 20px;
    div {
        h2 {
            color: $gris-oscuro;
        }
        a {
            color: $celeste;
            font-family: $main-font;
            font-weight: 500;
            margin: 0 5px;
            &:hover {
                color: $azul-oscuro;
                cursor: pointer;
                text-decoration: none;
            }
            h3 {
                margin-left: 15px;
                padding: 10px 0;
                &:hover {
                    color: $azul-oscuro;
                }
            }
    
        }
    }
}


.card-body {
    margin-left: 15px;
}