#faqs {
    div {
        h4 {
            color: $gris-oscuro;
            margin-bottom: 20px;
        }
        a {
            color: $celeste;
            font-family: $main-font;
            font-weight: 500;
            margin: 0 5px;
            &:hover {
                color: $azul-oscuro;
                cursor: pointer;
                text-decoration: none;
            }
            h4 {
                color: $celeste;
                margin: 10px 0 10px 15px;
                &:hover {
                    color: $azul-oscuro;
                }
            }
        }
    }
   .card-body {
        margin-left: 15px;
    }
}

#link-contacto {
    padding-top: 0px;
    img {
        width: auto;
        height: 20vw;
        animation-name: floating;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        margin-left: 30px;
        margin-top: 5px;
    }
    .imagen-mago {
        width: auto;
        height: 30vw;
        max-height: 320px;
    }
}