#features {
    margin-top: 70px;
    .features-card {
        background-color: $blanco;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        height: 100%;
        margin: 0 30px;
        margin-bottom: 30px;
        padding: 50px;
        @include sombra-chica;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
        &:hover {
            @include sombra-grande;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            cursor: pointer;
            background-color: $blanco;
            h4 {
                color: $celeste;
                font-weight: 500;
            }
        }
    }
}