#features {
    margin-top: 100px;
}

.features-card {
    background-color: $blanco;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 40px;
}