#features {
    margin-top: 70px;
    .features-card {
        @include sombra-chica;
        background-color: $blanco;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        padding: 40px;
        &:hover {
            @include sombra-grande;
            cursor: pointer;
            background-color: $celeste;
            h4 {
                color: $gris-oscuro;
                font-weight: 500;
            }
            p {
                color: $blanco;
            }
        }
    }
}

