footer {
    background-color: $azul-oscuro;
    bottom: 0;
    right: 0;
    height: 80px;
    width: 100%;
}

.footer-text {
    text-align: center;
    color: $blanco;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}