footer {
    color: $blanco;
    background-color: $azul-oscuro;
    padding: 40px 0;
    text-align: center;
    a {
        color: $blanco;
        &:hover {
            color: $blanco;
        }
    }
    .list-inline {
        .list-inline-item {
            padding: 10px 15px;
            i {
                font-size: 20px;
            }
        }
    }
}

