form {
    width: 700px; 
    margin: 0 auto;
}

input {
    color: $gris-claro;
    margin-bottom: 15px;
    margin-right: 20px;
    padding: 5px;
    width: 200px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: $gris-oscuro;
}

select {
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 5px 20px;
}

input[type=submit] {
    color: $blanco;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $celeste;
    border: none;
    border-radius: 4px;
}

input[type=checkbox] {
    margin-right: 15px;
    margin-bottom: 20px;
    width: 15px;
}

button {
    background-color: $violeta;
    border-radius: 4px;
    color: $blanco;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    padding:10px 20px;
    margin: 20px auto;
    &:hover {
        background-color: $azul-oscuro;
    }
}

label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $gris-oscuro;
    margin-right: 5px;
    display: block;
}

textarea {
    width: 290px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: $gris-oscuro;
}

.preguntas-frecuentes {
    width: 250px;
}

.bordes-redondeados {
    border-radius: 10px;
}