:root {
  font-size: $font-size-base;
  font-weight: map-get($font-weights, medium);
}

* {
  box-sizing: border-box;
}

html, body {
  color: $negro;
  font-family: $main-font;
  font-size: .875rem;
  height: 100%;
  margin: 0;
  padding: 0;

  section {
    padding: 50px 0;
  }

  h1 {
    @include h1Font;
    line-height: 105%;
    color: $blanco;
    margin: 30px 0;
  }

  h2 {
    @include h2Font;
    line-height: 120%;
    text-align: center;
    margin-bottom: 50px;
    b {
      font-weight: 600; 
    }
  }

  h3 {
    @include h3Font;
    color: $celeste;
  }

  h4 {
    @include h4Font;
    color: $celeste;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  p {
    @include pFont;
    color: $font-color;
    line-height: 130%;
    margin-top: 0px;
  }

  .content-center {
    margin: 0 auto 60px auto;
    text-align: center;
  }



}