

#trabaja-wrapper {
    display: grid;
    grid-template-areas:
        "intro intro"
        "profesional repartidor";
    margin: 30px 0;
    column-gap: 25px;
    row-gap: 50px;
}

.trabaja-en-alma {
    grid-area: intro;
}

.trabaja-titulo {
    color: $violeta;
    font-size: 3rem;
    text-align: center;
}

.trabaja-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        ". texto .";
}

.trabaja-texto {
    grid-area: texto;
}

.trabaja-texto {
    p {
        grid-area: texto;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        line-height: 1.4;
    }
}

.trabaja {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
    grid-area: servicios;
}

.trabaja {
    h2 {
        font-family: "Roboto";
        color: $gris-oscuro;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.trabaja {
    p {
        text-align: center;
    }
}

.quiero-ser {
    img {
        display: block;
        margin: auto;
    }
}

.profesional {
    grid-area: profesional;
}

.repartidor {
    grid-area: repartidor;
}

#profesional {
    margin: 20px auto;
    text-align: center;
}

#repartidor {
    margin: 20px auto;
}