#hero {
    background: linear-gradient(to bottom right, rgba(108, 99, 255, 1), rgba(108, 99, 255, 0)), url("../images/internacion-domiciliaria.jpg") no-repeat right center;
    background-size: cover;
    height: 700px;
    p {
        color: $blanco;
        font-size: calc(1rem + 0.7vw);
        line-height: 2.2rem;
    }
}


.botones-descarga {
    img {
        height: 50px;
        margin: 20px 10px 0 0;
        cursor: pointer;
    }
}
