#hero {
    background-image: url("../images/internacion-domiciliaria.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    p {
        color: $blanco;
        font-size: 1rem;
        font-weight: 400;
        font-family: $main-font;
        line-height: 1.7rem;
    }
}

.caption {
    top: 0;
    padding-top: 5%;
}



.botones-descarga {
    img {
        height: 50px;
        margin: 20px 10px 0 0;
    }
}
