#hero {
    .wave-container {
        bottom: 0;
        background: linear-gradient(to bottom right, rgba(108, 99, 255, 1), rgba(108, 99, 255, 0)), url("../images/internacion-domiciliaria.jpg") no-repeat right center;
        background-size: cover;
        position: relative;
        color: #FFF;
        text-align: center;
        overflow: hidden;
        svg {
            display: block;
            transform-origin: bottom;
            animation: animateWave 3000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
        }
    }
    .caption {
        padding-top: 4vw;
        p {
            color: $blanco;
            font-size: calc(1rem + 0.7vw);
            line-height: 2.2rem;
        }
        .botones-descarga {
            img {
                height: 50px;
                margin: 20px 10px 0 0;
                cursor: pointer;
            }
        }
    }
}

#wave-frase {
    padding: 0;
    margin: -2px;
    .wave-container {
        bottom: 0;
        svg {
            display: block;
            transform-origin: bottom;
            animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) both;
        }
    }
}

#frase-texto {
    background-color: $celeste;
    h2 {
        color: $blanco;
    }
    p {
        color: $blanco;
    }
}

#stats {
    background-color: $celeste;
    .stat {
        padding-top: 80px;
        padding-bottom: 80px;
        background-attachment: fixed;
        margin-top: 209px;

    }
    .stat-items {
        color: $blanco;
        p {
            color: $blanco;
            letter-spacing: 1px;
        }
        i {
            font-size: 50px;
        }
    }
}