@mixin h1Font {
    font-size: calc(2rem + 2vw);
    font-family: $main-font;
    font-weight: weight(bold);
}

@mixin h2Font {
    font-size: calc(1rem + 1.5vw);
    font-family: $main-font;
    font-weight: weight(regular);
}

@mixin h3Font {
    font-size: calc(1rem + 1vw);
    font-family: $main-font;
    font-weight: weight(regular);
}

@mixin h4Font {
    font-size: calc(1rem + 0.5vw);
    font-family: $main-font;
    font-weight: weight(regular);
}

@mixin pFont {
    font-size: calc(1rem + 0.2vw);
    font-weight: weight(regular);
    font-family: $main-font;
}

@mixin sombra-grande {
    -webkit-box-shadow: 0 10px 29px 0 rgba(68,88,144,0.2);
    -moz-box-shadow: 0 10px 29px 0 rgba(68,88,144,0.2);
    box-shadow: 0 10px 29px 0 rgba(68,88,144,0.2);
}

@mixin sombra-chica {
    -webkit-box-shadow: 0 10px 29px 0 rgba(68,88,144,0.1);
    -moz-box-shadow: 0 10px 29px 0 rgba(68,88,144,0.1);
    box-shadow: 0 10px 29px 0 rgba(68,88,144,0.1);
}

@keyframes animateWave {
    0% {
      transform: scale(1,0);
    }
    100% {
      transform: scale(1,1);
    }
}


