.slider {
    max-width: 1150px;
    display: flex;
}

.slider {
    .card {
    background: $blanco;
    flex: 1;
    margin: 0 10px;
    }
    .content {
        padding: 10px 20px;
    }
        .title {
            font-size: 25px;
            font-weight: 600;
            color: $celeste;
            line-height: 20px;
            margin: 10px 0;
        }
        p {
            text-align: justify;
            margin: 10px 0;
        }
    .img {
        height: 200px;
        width: 100%;
    }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
    .owl-dot {
        height: 15px;
        width: 45px;
        border-radius: 25px;
        cursor: pointer;
        outline: none;
        margin: 0 5px;
        border: 2px solid $violeta!important;
        transition: all 0.3s ease;
        &:hover {
            background: $violeta;
        }
        &.active {
            background: $violeta;
        }
    }
}
