#trabaja-wave {
    padding: 0;
    .wave-container {
        bottom: 0;
        background: linear-gradient(to bottom right, rgba(108, 99, 255, 1), rgba(108, 99, 255, 0)), url("../images/trabaja-en-alma.jpg") no-repeat right center;
        background-size: cover;
        position: relative;
        color: #FFF;
        text-align: center;
        overflow: hidden;
        svg {
            display: block;
            transform-origin: bottom;
            animation: animateWave 3000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
        }
    }
    .caption {
        padding-top: 4vw;
        h1 {
            margin: 50px 10vw;
        }
        p {
            color: $blanco;
            font-size: calc(1rem + 0.5vw);
            line-height: 2rem;
        }
    }
}

#trabaja-wrapper {
    div {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

#alma-workers {
    width: 100%;
    .workers-container {
        position: relative;
        overflow: hidden;
        margin: 10px 0;
        border-radius: 2px;
        img {
            -moz-transition: all 0.8s;
            -webkit-transition: all 0.8s;
            transition: all 0.8s;
        }
        &:hover {
            img {
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            }
        }
        .workers-text {
            position: absolute;
            bottom: 25px;
            left: 25px;
            z-index: 1;
            h2 {
                color: $blanco;
                margin-bottom: 0px;
            }
            p {
                color: $blanco;
            }
        }
        
    }
}




